/*General body Styling*/
body{
    background-color:#2074be;
    font-family:Arial, sans-serif;
    text-align:center;
    margin:0;
    padding:20px;
}
/*Title Styling*/
h1{
    color:#b5ce51;
    margin-top:20px;
    margin-bottom:10px;/* Adds space after title to effectively use blank spaces - criteria mentioned on the project outline */
}
/*Description styling*/
p{
    color:rgb(30, 201, 21);
    font-size:18px;
    margin-bottom:20px; /*Adds spaces after description*/
}
/*Button Styling*/
button{
    background-image: linear-gradient(to bottom, #d13058, #ed26c9);
    color:rgb(37, 221, 74);
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin:10px;/*Adds spacing between buttons*/
}
button:hover{
    background-color:rgb(194, 124, 98);
}
/*Deafult Webcam container styling */
#webcam-container{
    margin-top:20px;
    margin-bottom:20px;/*Adds space after webcam*/
    padding:10px;
}
/*Adjust for smaller screens */
@media screen and (max-width:768px){
    #webcam-container{
        width:100%;
        height:auto;
    }
}
/*Label container styling*/
#label-container{
    margin-top:10px;
}
#label-container div{
    margin-top:10px;
}
div{
    margin-bottom:20px;
}
/*Loading Indicator styling*/
#loading-indicator{
    font-size: 20px;
    color:rgb(13, 64, 87);
    background-color: rgb(117, 202, 213);
    padding: 20px;
    border-radius:10px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

